.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 30%;
    height: 50%;
    overflow: auto;
    background-color: rgba(252, 245, 250, 0.8);
  }
  
  .modal-content {
    background-color: #05b3f8;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #3408f7;
    width: 80%;
  }
  
  .close {
    color: #f70707;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #f30505;
    text-decoration: none;
    cursor: pointer;
  }
  
    #subscribeBtn {
      background-color: red;
    }
  
    .mwanzo {
      text-align: center;
      color: red;
    }
  
  h1 {
    text-shadow: 2px 2px    rebeccapurple;
  }
  /* .hhh {
    padding: 50px, 50px, 50px;
  } */
      /* Reset default margins and paddings */
  body, header, nav, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    border: 344px;
    /* background-image: image-set("spice.png"); */
    
  }
  
  /* Header styles */
  header {
    height: 150px;
    background-image: image-set("logo1.jfif");
  }
  
  /* Navbar styles */
  nav {
    background-color: #038f22;
  }
  
  .navbar {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .navbar li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .navbar li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Sidebar styles */
  .sidebar {
    width: 100px;
    background-color: #f0f0f0;
  }
  
  .sidebar ul {
    list-style-type: none;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  /* Content styles */
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    border: solid 5px black;
    background-image: image-set("spice.png");
  }
  
  .box {
    width: 800px;
    text-align: center;
    margin-bottom: 20px;
    border: solid 5px goldenrod;
    padding: auto;
    border-radius: 25px;
    background-color: rgb(62, 233, 113);
    background-image: linear-gradient(to bottom right, rgb(65, 85, 175), rgb(21, 205, 230));
    
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  img {
    width: 20%;
    height: 100px;
  }
  